@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IEnumerable<Tic.Shared.EntitiesSoft.DocumentType>

@{
    ViewData["Title"] = "Tipo Documentos";
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="shadow-lg mb-5 card-roud">
                <div class="card card-roud">
                    <div class="card-body">
                        <p>
                            <h2>Tipo Documentos</h2>
                        <p />

                        <hr style="height:2px;border:none;color:#333;background-color:#333;" />

                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="input-group input-group-dropdown">
                                        <div class="input-group-append">
                                            <a asp-action="Create" class="btn btn-outline-primary btn-bor">
                                                <i class="bi bi-plus-square" style="font-size: 20px;"></i>
                                                Nuevo
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                        @using (Html.BeginForm("Index", "DocumentTypes"))
                                        {
                                            @Html.AntiForgeryToken()
                                        <div class="input-group input-group-dropdown btn-borCua">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-dark btn-bor" type="submit" aria-haspopup="true" aria-expanded="false">
                                                    <i class="bi bi-search" style="font-size: 20px;"></i>
                                                    BUSCAR
                                                </button>
                                            </div>
                                            <input type="text" name="txt_search" id="txt_search" class="form-control btn-bor" style="text-align: left"
                                                   autocomplete="off" spellcheck="false" placeholder="Buscar..." />
                                            <input type="hidden" id="item_list" name="buscarId" />
                                        </div>
                                        }
                                </div>
                            </div>
                            <br />
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table table-responsive table-striped table-hover justify-content-center" id="MyTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                    @Html.DisplayNameFor(model => model.DocumentName)
                                            </th>
                                            <th>
                                                    @Html.DisplayNameFor(model => model.Descripcion)
                                            </th>
                                            <th>
                                                    @Html.DisplayNameFor(model => model.Active)
                                            </th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="reordenable">
                                            @foreach (var item in Model)
                                            {
                                            <tr>
                                                <td>
                                                        @Html.DisplayFor(modelItem => item.DocumentName)
                                                </td>
                                                <td>
                                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                                </td>
                                                <td>
                                                        @Html.DisplayFor(modelItem => item.Active)
                                                </td>
                                                <td style="width:1px; padding-left:1px; padding-right:4px">
                                                    <a title="Editar" asp-action="Edit" asp-route-id="@item.DocumentTypeId" class="btn btn-outline-dark btn-bor btn-sm"><i class="bi bi-pencil-square" style="font-size: 17px;"></i></a>
                                                </td>
                                                <td style="width:1px; padding-left:1px; padding-right:4px">
                                                    <a title="Detalle" asp-action="Details" asp-route-id="@item.DocumentTypeId" class="btn btn-outline-dark btn-bor btn-sm"><i class="bi bi-card-text" style="font-size: 17px;"></i></a>
                                                </td>
                                                <td style="width:1px; padding-left:1px; padding-right:4px">
                                                    <button type="button" title="Borrar" data-id="@item.DocumentTypeId"
                                                            class="btn btn-outline-danger btn-bor btn-sm" id="deleteItem"
                                                            data-bs-toggle="modal" data-bs-target="#deleteDialog">
                                                        <i class="bi bi-trash" style="font-size: 17px;"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br />
                            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }),
                        new PagedListRenderOptions
                        {
                        DisplayPageCountAndCurrentLocation = true,
                        ContainerDivClasses = new string[] { "navigation" },
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new[] { "page-link" },
                        UlElementClasses = new[] { "pagination justify-content-center" }
                        })

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<partial name="_DeleteDialog" />



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/jquerysearch/jquery-ui.js"></script>
    <script src="~/js/deletedialog.js"></script>
    <script type="text/javascript">
        $(function () {
            $('ul.pagination > li.disabled > a').addClass('page-link');
        });
    </script>
    <script type="text/javascript">
        sufijoControl = "DocumentTypes";
        itemdelete = `/${sufijoControl}/Delete/`;

        $("#txt_search").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: `/${sufijoControl}/Search/`,
                    data: { Prefix: $("#txt_search").val() },
                    dataType: "json",
                    type: "POST",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#item_list").val(i.item.val);
            },
            minLength: 1
        });

    </script>
}