@model IEnumerable<Tic.Shared.EntitiesSoft.SellOneCachier>

@{
    ViewData["Title"] = "Reporte Venta Cajero";
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">

        <div class="col-md-12">
            <div class="shadow-lg mb-5 card-roud">
                <div class="card card-roud">

                    <div class="card-body">
                        <p>
                            <h2>Reporte Venta Cajero por Tickets</h2>
                        <p />

                        <hr style="height:2px;border:none;color:#333;background-color:#333;" />

                        <flash dismissable="true" />

                        <br />
                            @{
                                int cant = 0;
                                decimal subtotal = 0;
                                decimal impuestos = 0;
                                decimal totales = 0;
                            }
                        <table class="table table-responsive table-striped table-hover justify-content-center" id="MyTable">
                            <thead>
                                <tr>
                                    <th>
                                            @Html.DisplayNameFor(model => model.Date)
                                    </th>
                                    <th>
                                            @Html.DisplayNameFor(model => model.SellControl)
                                    </th>
                                    <th>
                                            @Html.DisplayNameFor(model => model.NamePlan)
                                    </th>
                                    <th>
                                            @Html.DisplayNameFor(model => model.Server!.ServerName)
                                    </th>
                                    <th>
                                            @Html.DisplayNameFor(model => model.OrderTicketDetail!.Usuario)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                                @Html.DisplayFor(modelItem => item.Date)
                                        </td>
                                        <td>
                                                @Html.DisplayFor(modelItem => item.SellControl)
                                        </td>
                                        <td>
                                                @Html.DisplayFor(modelItem => item.NamePlan)
                                        </td>
                                        <td>
                                                @Html.DisplayFor(modelItem => item.Server.ServerName)
                                        </td>
                                        <td>
                                                @Html.DisplayFor(modelItem => item.OrderTicketDetail!.Usuario)
                                        </td>
                                            @{
                                                cant += 1;
                                            }
                                        <td style="width:1px; padding-left:1px; padding-right:4px">
                                            <a title="Detalle" asp-action="Details" asp-controller="SellOneCachiers" asp-route-id="@item.SellOneCachierId" class="btn btn-outline-dark btn-back"><i class="fa fa-clipboard-list"></i></a>
                                        </td>
                                    </tr>
                                    }
                            </tbody>
                            <tfoot>
                            <td></td>
                            <td></td>
                            <td>Total Registros</td>
                            <td> @cant</td>
                            <td></td>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}