@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IEnumerable<Tic.Shared.Entites.TicketTime>

@{
    ViewData["Title"] = "Tiempo Tickets";
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="shadow-lg mb-5 card-roud">
                <div class="card card-roud">
                    <div class="card-body">
                        <p>
                            <h2>Tiempo Tickets</h2>
                        <p />

                        <hr style="height:2px;border:none;color:#333;background-color:#333;" />

                        <flash dismissable="true" />

                        <p>
                            <a asp-action="Create" class="btn btn-outline-primary btn-bor">
                                <i class="fa fa-plus"></i>
                                Nuevo
                            </a>
                        </p>
                        <br />

                        <table class="table table-responsive table-striped table-hover justify-content-center" id="MyTable">
                            <thead>
                                <tr>
                                    <th>
                                            @Html.DisplayNameFor(model => model.Tiempo)
                                    </th>
                                    <th>
                                            @Html.DisplayNameFor(model => model.Orden)
                                    </th>
                                    <th>
                                            @Html.DisplayNameFor(model => model.Activo)
                                    </th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="reordenable">
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                                @Html.DisplayFor(modelItem => item.Tiempo)
                                        </td>
                                        <td>
                                                @Html.DisplayFor(modelItem => item.Orden)
                                        </td>
                                        <td>
                                                @Html.DisplayFor(modelItem => item.Activo)
                                        </td>
                                        <td style="width:1px; padding-left:1px; padding-right:4px">
                                            <a title="Editar" asp-action="Edit" asp-route-id="@item.TicketTimeId" class="btn btn-outline-dark btn-back"><i class="fa fa-pencil-alt"></i></a>
                                        </td>
                                        <td style="width:1px; padding-left:1px; padding-right:4px">
                                            <a title="Detalle" asp-action="Details" asp-route-id="@item.TicketTimeId" class="btn btn-outline-dark btn-back"><i class="fa fa-clipboard-list"></i></a>
                                        </td>
                                        <td style="width:1px; padding-left:1px; padding-right:4px">
                                            <button type="button" title="Borrar" data-id="@item.TicketTimeId"
                                                    class="btn btn-outline-danger btn-backDelete deleteItem"
                                                    data-bs-toggle="modal" data-bs-target="#deleteDialog">
                                                <i class="bi-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    }
                            </tbody>
                        </table>
                    </div>
                    <br />
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }),
                             new PagedListRenderOptions
                    {
                        DisplayPageCountAndCurrentLocation = true,
                        ContainerDivClasses = new string[] { "navigation" },
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new[] { "page-link" },
                        UlElementClasses = new[] { "pagination justify-content-center" }
                    })
                </div>
            </div>
        </div>
    </div>
</div>


<partial name="_DeleteDialog" />



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="/js/deleteDialog.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Delete item
            sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/TicketTimes/Delete/', false);

            $('ul.pagination > li.disabled > a').addClass('page-link');
        });
    </script>
}